		<!-- Custom Scripts -->
		<%= stylesheet_link_tag "style" %>
		<%= stylesheet_link_tag "component" %>
		<%= stylesheet_link_tag "flickity/flickity.css" %>
		<%= javascript_include_tag "application"%>

		<!-- bower:js -->
		<script src="../bower_components/jquery/dist/jquery.js"></script>
		<script src="../bower_components/vminpoly/vminpoly.js"></script>
		<script src="../bower_components/jquery.easing/js/jquery.easing.js"></script>
		<script src="../bower_components/jquery.scrollTo/jquery.scrollTo.js"></script>
		<script src="../bower_components/jquery.localScroll/jquery.localScroll.js"></script>
		<script src="../bower_components/jquery.sticky/jquery.sticky.js"></script>
		<script src="../bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
		<!-- endbower -->


		<footer class="page-footer">

			<section class="footer-content">
				<div class="wrap">
					<div class="grid-container">
						<div class="footer-branding grid-25">
							<h4 class="footer-logo">
								Young & Bold
								<span class="icon icon--ybco-logotype"></span>
							</h4>

							<p>© 2015 Young & Bold </p>

							<ul class="social-links">
								<li class="social-link"><a href="http://www.facebook.com/ybco.co" target="_blank">
									<span class="l--hidden">Facebook</span>
									<i class="icon icon--facebook-with-circle"></i>
								</a></li>
								<li class="social-link"><a href="http://www.twitter.com/youngboldco" target="_blank">
									<span class="l--hidden">Twitter</span>
									<i class="icon icon--twitter-with-circle"></i>
								</a></li>
							</ul>
						</div>
					</div>

					<div class="grid-container">
						<div class="grid-60 push-5">
							<ul class="footer-navigation-lists">
								<li class="footer-navigation-list">
									<ul class="footer-navigation">
										<li class="footer-navigation__item">
											<a href="#" class="footer-navigation__heading">Company</a>
										</li>
										<li class="footer-navigation__item"><a href="#">Our Story</a></li>
										<li class="footer-navigation__item"><a href="#">Our Team</a></li>
										<li class="footer-navigation__item"><a href="#">Press</a></li>
										<li class="footer-navigation__item"><a href="#">Jobs</a></li>
									</ul>
								</li>


								<li class="footer-navigation-list">
									<ul class="footer-navigation">
										<li class="footer-navigation__item">
											<a href="#" class="footer-navigation__heading">Explore</a>
										</li>
										<li class="footer-navigation__item"><a href="#">Technology</a></li>
										<li class="footer-navigation__item"><a href="#">Education</a></li>
										<li class="footer-navigation__item"><a href="#">Arts</a></li>
										<li class="footer-navigation__item"><a href="#">Entertainment</a></li>
										<li class="footer-navigation__item"><a href="#">Water & Sanitation</a></li>
										<li class="footer-navigation__item"><a href="#">Community</a></li>
										<li class="footer-navigation__item"><a href="#">Health & Fitness</a></li>
										<li class="footer-navigation__item"><a href="#">Finance</a></li>
									</ul>
								</li>

								<li class="footer-navigation-list">
									<ul class="footer-navigation">
										<li class="footer-navigation__item">
											<a href="#" class="footer-navigation__heading">Help</a>
										</li>
										<li class="footer-navigation__item"><a href="#">Privacy Policy</a></li>
										<li class="footer-navigation__item"><a href="#">Terms of Use</a></li>
										<li class="footer-navigation__item"><a href="#">Community Guidelines</a></li>
										<li class="footer-navigation__item"><a href="#">Support</a></li>
										<li class="footer-navigation__item"><a href="#">Contact Us</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>

						<div class="grid-20 push-10">
							<a href="#" class="button--scroll-up  js-scrollto-button" data-scroll-target="html">
								<span class="t--small"><span class="l--hidden">Back to </span>top</span>
								<i class="icon icon--chevron-thin-up"></i>
							</a>
						</div>
					</div>
				</div>
			</section>
		</footer>


	</body>
</html>