<!-- Custom Scripts -->
<%= stylesheet_link_tag "style" %>
<%= stylesheet_link_tag "component" %>
<%= stylesheet_link_tag "flickity/flickity.css" %>
<%= javascript_include_tag "application"%>


<section class="footer-cta" style="background-image: url('/assets/footer-hero.jpg')";>
	<div class="l--absolute-center wrap">
		<span class="footer-cta__heading heading">Try YBCO free for 14 Days</span>
		<p>No credit card or software download required.</p>

		<div class="l--padded">
			<a href="#" class="footer-cta__button">Get Started</a>
		</div>
	</div>
</section>