// Lists
.list {
	max-width: 40rem;
	margin-left: auto;
	margin-right: auto;
}

.list-item {
	& + & {
		margin-top: 2.5rem;

		.list--narrow & {
			margin-top: 1rem;
		}

		.list--wide & {
			margin-top: 5rem;
		}
	}
}

.list-horizontal-scroller {
	overflow-x: auto;
}

.list--horizontal {
	@extend .list;
	@include clearfix;

	display: table;

	width: 100%;
	max-width: 960px;

	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;

	.list-item {
		display: table-cell;
		width: auto;
		text-align: center;
	}
}

// Meta Tags
.meta-tags {
	display: block;

	font-size: fs(small);
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;

	.icon {
		font-size: 1rem;
		margin-right: 0.25rem;
	}
}

.meta-tag {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.75rem;

	& + & {
		margin-left: 1.25rem;
	}
}

.meta-tag--blue {
	@extend .meta-tag;
	background: palette(sky blue);
	color: palette(white);
	padding: 0.25rem 0.5rem 0.125rem;
	line-height: 1;
}

// Profile Tag
.profile-tag {
	display: table;
	width: auto;
	vertical-align: middle;
}

.profile-tag-image {
	display: inline-block;
	vertical-align: middle;
	border-radius: 100%;
}

.profile-tag-text {
	margin-left: 0.25em;
	display: inline-block;

	font-size: fs(small);
	vertical-align: middle;
}

.profile-tag__user {
	margin-left: 0.25em;
	font-weight: 700;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}


// Circle Lists
.circle-list {
	@include clearfix;

	display: block;
	position: relative;

	@include mq(below medium) {
		max-width: 640px;
		margin-left: auto;
		margin-right: auto;
	}
}

.circle-list-item {
	display: block;
	float: left;

	@include mq(below medium) {
		width: 45%;
		margin-bottom: 2rem;

		&:nth-child(2n) {
			margin-left: 10%;
		}
	}

	@include mq(medium) {
		width: 20%;

		& + & {
			margin-left: 6.66667%;
		}
	}
}

.invite-list {
	display: block;
}

.invite-list-item {
	position: relative;
	padding: 0 1rem 0.5rem;
	border-bottom: 4px solid #eeeeee;
	line-height: 1;

	& + & {
		margin-top: 3rem;
	}

	.icon {
		@include no-select;
		cursor: pointer;
		position: absolute;
		bottom: 0.333rem;
		right: 0;
		font-size: 1.25rem;
		color: palette(sky blue);

		transition: all $duration $easing;

		&:hover {
			color: darken(palette(sky blue), 10);
		}

		&:active {
			@extend .button:active;
		}
	}
}

.invite-list-input {
	width: 100%;
}