.l--full-width {
	width: 100vw !important;
}

.l--half-width {
	width: 100%;

	@include mq(small) {
		width: 45vw !important;
	}
}

.l--half-width--right {
	@extend.l--half-width;

	@include mq(small) {
		left: 50vw !important;
	}
}

.l--full-height {
	position: relative;
	height: 100vh !important;
	min-height: 720px !important;
}

.l--full {
	width: 100% !important;
	max-width: 100% !important;
}

.l--block {
	display: block;
}

.l--hidden {
	display: none !important;
}

.l--vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%) translateZ(0);
	backface-visibility: hidden;
}

.l--horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateZ(0);
	backface-visibility: hidden;
}

// Fix blurry text
.l--absolute-center {
	@extend .l--vertical-center;
	@extend .l--horizontal-center;
	transform: translateX(-50%) translateY(-50%) translateZ(0);

	@include mq(below small) {
		width: 100%;
	}
}

.l--padded {
	display: block;
	padding: 2rem;
}

.l--padded--large {
	@extend .l--padded;
	padding: 4rem;
}

.l--plunge {
	margin-top: 2rem;
}

.l--plunge--large {
	@extend .l--plunge;
	margin-top: 4rem;
}

.l--unpad {
	padding: 0 !important;
}

.l--unpad--left {
	padding-left: 0 !important;
}

.l--unpad--bottom {
	padding-bottom: 0 !important;
}

.l--flat--bottom {
	margin-bottom: 0 !important;
}

.wrap {
	@include clearfix;

	@include mq(below medium) {
		width: 90%;
	}

	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.wrap--xsmall {
	@extend .wrap;
	width: 520px;

	@include mq(below medium) {
		width: 80%;
	}
}

.wrap--small {
	@extend .wrap;
	width: 720px;

	@include mq(below medium) {
		width: 80%;
	}
}

.wrap--large {
	@extend .wrap;

	max-width: 1440px;
}

.grid-container {
	padding: 0;
}

.grid-container > * {
	padding: 0;
}

.circle {
	display: block;
	position: relative;

	width: 100%;
	height: 0;
	padding-bottom: 100%;

	margin-left: auto;
	margin-right: auto;

	border-radius: 100%;

	text-align: center;
}

.circle--white {
	@extend .circle;
	background-color: palette(white);
}

.circle--sky-blue {
	@extend .circle;
	background-color: palette(sky blue);
	color: palette(white);
}

.circle__content {
	@extend .l--absolute-center;

	width: 100%;
	padding: 2rem;

	line-height: 1;

	.icon + p {
		margin-top: 1rem;
	}
}